db.sqlite3
manage.py
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env/
.env
.env.local
.env.*.local
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
vrllogistics/logs/*.log
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.egg-info/
ms
*.md